*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;
}

body{
    background-color: #F0E9D2;
}

a {
    background-color: coral;
    color: black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

summary {
    cursor: pointer;
    list-style-type: none;
    width: 100%;
    background-color: #678983;
    padding: 5px;    
    border-radius: 10px; 
    font-weight: bolder;
    text-align: center;
}

summary:hover {
    background-color: coral;
}

a:hover {
    background-color: orangered;
}

a:focus {
    background-color: orangered;
}




h1, h2 {
    text-align: center;
}


details{
    background-color: #55756e;
    border-radius: 5px;
}


