* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #F3F5FC;
    margin: 0;

}

#confirmar {
    padding: 10px;
    font-size: 16px;


}

main {
    margin-bottom: 10em;
    padding: 20px;

}

h3,
h2 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 1em;
}

summary{

    padding: 15px 8px;
    background-color: #0A3871;
    border-radius: 10px;
    
    color: #F3F5FC;
    text-decoration: none;
    border-width: none;
    border-style: none;
    cursor: pointer;

}

a,
button{
    padding: 15px 8px;
    background-color: #0A3871;
    border-radius: 5px;
    margin: 5px;
    display: inline-grid;
    color: #F3F5FC;
    text-decoration: none;
    border-width: none;
    border-style: none;
    cursor: pointer;
    text-align: center;

}

details {
    text-align: center;
    background-color: #062141;
    border-radius: 10px;
    color: #F3F5FC;   
}

a:hover {
    background-color: #062141;
}


input {
    background-color: #E9ECF8;
    border-style: none;
    padding: 10px;
}
#home{
    width: 100%;
    text-align: center;
}
/*.top{
    padding: 10px;
    background-color: #072B61;
}*/

article{
    padding: 20px;
}

.top {
    position: fixed;
    bottom: 0;
    background-color: #062141;    
    padding: 20px;
    border-radius: 5px;
    right: 0;
    text-align: right;
    margin: 20px;
    border-radius: 20px 5px;
}

.index{
    background-color: #062141;
    padding: 20px;
    text-align: center;
    
}

input {
    font-weight: bold;
}

.found {
    font-weight: bolder;
    background-color: #AAB2D5;
    padding: 5px;
    border-radius: 5px;
}

#indice {
    display: none;

}


.botonMostrar {
    background-color: #072B61;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 20px 5px;
    font-weight: bolder;
   
}



button:hover, summary:hover {
    background-color: #062141;
}


#link {
    display: block;
    background-color: #062141;
    ;
    text-align: center;

}

.buscador {
    text-align: center;
}

#presentacion {
    text-align: center;
}

#logo {
    width: 20%;
    height: 20%;
}

header {
    background-color: #072B61;
    color: #E9ECF8;
    padding: 10px;
    
    
}


hr{
    width: 50%;
    background-color: #0A3871;
    height: 10px;
    border-radius: 5px;
}

table * {
    width: 50%;
    border-style: solid;
    border-color: black;
    text-align: center;
}

dt{
    font-weight: bolder;
    font-size: larger;    
}